{% extends 'base.html' %}
{% block title %}Пост <!-- Первые 30 букв поста -->{% endblock %}
{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ post.pub_date|date:'d E Y' }}
        </li>
        {% if post.group %}
          <li class="list-group-item">
            Группа: {{ post.group.title }}
            <a href="{% url 'posts:group_list' post.group.slug %}">
              все записи группы
            </a>
          </li>
        {% endif %}
        <li class="list-group-item">
          Автор: <!--Лев Толстой-->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора:  <span ><!-- --></span>
        </li>
        <li class="list-group-item">
          <a href="<!-- -->">
            все посты пользователя
          </a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        {{ post.text }}
        <!--
        [Фокшаны.] Еще переходъ до Фокшанъ, во время котораго я ѣхалъ съ 
        Монго. Человѣкъ пустой, но съ твердыми, хотя и ложными убѣжденіями.
        Генерал[у] по этому должно быть случаю, угодно было спрашивать о мое
        мъ здоровьи.
        Свинья! К[о]вырялъ носъ и ничего не написалъ — вотъ 2 упрека за 
        нын[ѣшній]     день. Послѣдній упрекъ становится слишкомъ частъ, 
        хотя походъ и можетъ служить въ немъ отчасти извиненіемъ. 
        Отношенія мои съ товарищами становятся такъ пріятны, что мнѣ 
        жалко бросить штабъ. Здоровье кажется (2) лучше. 
        --> 
      </p>
    </article>
  </div>
{% endblock %}
